.coverage
.eggs
.DS_Store
.mypy_cache
linopy/__pycache__
test/__pycache__
linopy.egg-info
dev-scripts/
examples/.ipynb_checkpoints/
linopy/version.py
dist/
build/
doc/_build
doc/generated
doc/api
.vscode
.idea
Highs.log
paper/
monkeytype.sqlite3
.github/copilot-instructions.md
uv.lock
*.pyc


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

benchmark/*.pdf
benchmark/benchmarks
benchmark/.snakemake
benchmark/gurobi.log
benchmark/notebooks/.ipynb_checkpoints
benchmark/scripts/__pycache__
benchmark/scripts/benchmarks-pypsa-eur/__pycache__
benchmark/scripts/leftovers/

# IDE
.idea/

# Claude
.claude/settings.local.json

# direnv
.envrc
